:root {
  --nav-bg-color: hwb(324 2% 92% / 0.8);
  --list-bg-color: rgba(17, 17, 17, 0.85);
  --list-color: #b8b8b8;
  --title-color: #8d0001;
  --text-color: #c5c5c5;
  --font-Poiret: 'Poiret One', sans-serif;
  --font-Spirax: 'Spirax', sans-serif;
}
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  /* margin: 0;
  padding: 0; */
  background: #f4f4f4;
  font-family: var(--font-Poiret);
}
/* [class*='para'] {
  background: yellow;
} */
.header {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--nav-bg-color);
  align-items: center;
  height: 10vh;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 8rem;
  overflow: hidden;
  position: absolute;
}
.nav .link {
  text-decoration: none;
  color: var(--text-color);
  font-size: clamp(24px, 3vw, 48px);
  font-family: var(--font-Spirax);
}

.container-hot {
  background-image: url('/asstes/hot.jpg');
}
.container-juicy {
  background-image: url('/asstes/juicy.jpg');
}
.container-cosy {
  background-image: url('/asstes/cosy.jpg');
}
.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* zoom: 1.4; */
}
.container-title {
  /* 
  --title-color: green;  local variable will override global 
  */
  color: var(--title-color);
  align-self: center;
  font-size: 8rem;
  font-weight: 900;
  font-family: var(--font-Spirax);
  margin-left: 1rem;
  margin-top: 3rem;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.para-container p {
  display: flex;
  align-self: self-start;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;
  padding-block: 1rem;
  font-size: 28px;
  color: #ffe9e9;
  background-color: rgb(126, 17, 19, 0.9);
  width: 760px;
  margin-block: 0.6rem 1rem;
  right: 6rem;
}

.para-container :last-child {
  width: 760px;
  left: 4rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem 4rem;
  background: var(--list-bg-color);
  width: 700px;
  margin-inline: 1rem;
  height: fit-content;
  color: var(--text-color);
}

.list-container li {
  list-style: none;
  font-size: 18px;
  color: var(--lis-color);
}

.article {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.horizontal {
  background-color: var(--title-color);
  height: 20px;
}

@media (max-width: 950px) {
  .nav .header {
    width: 100%;
  }
  .nav {
    gap: 2rem;
  }
  .para-container {
    /* margin-inline: 5rem; */

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .para-container {
    /* margin-inline: 1rem; */
    width: 100%;
  }
  .para-container p {
    text-align: center;
    padding-inline: 0.8rem;
    font-size: 19px;
    width: 80%;
    /* margin-inline: 2rem; */

    align-items: center;
  }
  .para-container :last-child {
    display: none;
  }
  .list-container {
    width: 80%;
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
  }
  .list-container li {
    font-size: 16px;
    max-width: 100%;
    height: fit-content;
    height: 20px;
  }
  .container-title {
    align-self: center;
    font-size: 4rem;
    margin-top: 6rem;
  }

  .container-wrapper {
    /* margin-top: 0.2rem; */
    width: 100%;
  }
  .para-container p {
    position: unset;
    font-size: medium;
  }
}
@media (max-width: 450px) {
  .container-wrapper {
    /* margin-top: 0.2rem; */
    width: 100%;
  }
  .para-container p {
    position: unset;
  }
  .article {
    font-size: 16px;
  }
}
